@import './palette.scss';

.App {
  &-content {
    margin-top: 2rem;

    a {
      color: $dark-gray;

      &:hover {
        color: black;
      }
    }

    .nav-tabs {
      .nav-link {
        padding: 1rem 3rem;
        border: 0 none;

        &.active {
          background-color: transparent;
          border-bottom: 1px solid $dark-gray;
        }
      }
    }
  }
}
