.App-header {
  &__logo,
  &__profile {
    img {
      width: auto;
      height: 3rem;
    }
  }

  &__search {
    input {
      opacity: .4;
      border-color: #272727;
      transition: all .15s;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
      }
    }
  }

  &__profile {
    a {
      &:after {
        display: none;
      }
    }
  }
}
