.Login {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
  background: #fff;
  border-radius: 0.3rem;
  padding: 5rem;

  p {
    margin: 1rem 0;
  }
}
